.div-detail-activity{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(100, 100, 207);
}

.board-columns{
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    .column-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
    }
    .icon{
        font-size: 14px;
        margin-right: 3px;
    }
    

   
}
.formactivity-loading{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}