.container-memberassign{  
    position: absolute; 
    top: -30px;
    right: -100px;
    border: 1px solid #ccc;
    width: 300px;
    height: 200px;
    background-color: white;
    padding: 10px;
    
}
.header-memberassign{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    
}
.header-memberassign > i{
    position:absolute;
    right: 15px;
    top: 13px;
    color: #5e6c84;
    cursor: pointer;
}   
.header-memberassign > i:hover{
    color: #ccc;
}
.title-header-memberassign{
    text-align: center;
    font-size: 17px;
    color: #5e6c84;
    font-weight: normal;
}
.div-search-memberassign{
    display: flex;
    width: 100%;
    background-color: #ffffff;
    /* border: 1px solid #b4b0b0; */
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    margin-top: 10px;
}
.div-search-memberassign input{
    border: none;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    padding-left: 15px;
    outline: none;
    border-radius: 5px;
    
}
.div-search-memberassign > i{
    font-size: 1.0rem;
    margin-right: 15px;
    color: #5e6c84;
}