.div-tabcontent{
    margin-top: 60px;

}
.name-content{
    color: #1B264D;
    margin-left: 20px;
}
.header-tabcontent{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
}
.div-search-tabcontent{
    display: flex;
    margin-right: 40px;
    
}
.div-tabcontentOff{
    display: none;
}
.div-body-content{
    display: flex;
    margin-top: 30px;

}
.item-work{
    margin-left: 20px;
}