.div-tabcontent{
    padding-top: 10px;
    height: 100vh;
}
.name-content{
    color: #1B264D;
    margin-left: 20px;
}
.header-tabcontent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.div-search-tabcontent{
    display: flex;
    margin-right: 40px;
    
}
.div-tabcontentOff{
    display: none;
}
.form-activityOff{
    display: none;
}
.div-body-content{
    display: flex;
    margin-top: 30px;

}
.item-work{
    margin-left: 20px;

}