.members__head{
    width: 100%;
    display: flex;
}
.members__head .members__card:last-child{
    margin-left: 30px;
}
.members__card {
    width: 100%;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.members__body h2{
    margin-bottom: 2px;
}