.div-mess{
    width: 100%;
    height: 100%;
    
}
.header-mess{
    display: flex;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #b4b0b0;
    align-items: center;
    
}
/* .avt-mess{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 30px;
    background-color: #c4c4c4;
    
} */
.name-mess{
    width: 80%;
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #1B264D;
}
.todo-icon{
    display: flex;
    position: absolute;
    right: 15px;
    
}
.todo-icon > i{
    font-size: 1.3rem;
    margin-left: 20px;
    color: #1B264D;
    cursor: pointer;
}

.body-mess{
    width: 100%;
    height: 80%;
    border-bottom: 1px solid #b4b0b0;

}
.div-chat{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}
.chat-todo{
    display: flex;
}
.chat-todo > i{
    font-size: 1.5rem;
    margin-left: 25px;
    color: #1B264D;
    cursor: pointer;
}
.div-text-chat{
    display: flex;
    align-items: center;
    width: 81%;
    
    
    
}

.div-text-chat>input{
    width: 100%;
    border-radius: 30px;
    border: 1px solid #9c9999;
    margin-left: 30px;

}
.div-text-chat > i {
    position: absolute;
    right: 7.5%;
    font-size: 1.2rem;
    color: #1B264D;
    
    
}
.div-chat > i {
    position: absolute;
    font-size: 35px;
    color: #1B264D;
    right: 2%;
    cursor: pointer;
}

