PORT=5000
ALLOWED_ORIGINS=http://localhost:3000

MONGODB_HOST=mongo
MONGODB_PORT=27017
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_DBNAME=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ADMIN_USERNAME=admin0
ADMIN_PASSWORD=