@import url('../../App.css');

.container{
    padding: 30px;
    height: 100%;
}
.mng__header h2{
    font-size: 36px;
    color: var(--primary-color);
    margin-bottom: 30px;
}
.header__stack{
    margin-bottom: 50px;
}
.header__btn-icon i{
    margin-right: 5px;
}