.container{
    padding: 30px;
    height: 100%;
    display: flex;
}
.data-table{
    width: 100%;
    text-align: center;
}
  .MuiDataGrid-columnHeaders {
    display: block; 
    text-align:center; 
    width: 100%; 
}

.MuiDataGrid-cell {
    display: block;
    position: relative;
    text-align: center;
}
