
.abc{
    height: 100%;
    background-color: aqua;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color:#1B264D ;
    font-weight: 500;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color:#1B264D ;
    font-weight: 500;
}