.div-tabgroup{
    margin-top: 42px;
}
.div-header-tabgroup{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
}
.div-search-tabgroup{
    display: flex;
    align-items: flex-end;
}
.title-tabgroup{
    color: #1B264D;
    margin-top: 20px;
    margin-left: 20px;
}
