.div-tabgroup{
    margin-top: 42px;
}
.div-header-tabgroup{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
}
.div-search-tabgroup{
    display: flex;
    align-items: flex-end;
}
.div-list-tabgroup{
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
